body {
	 background: pink;
      
}
h1   {
	   margin-left: 45%;
       margin-right: 50%;
	   color: black;
	   font-size: 300%;
	    font-family: Georgia, sans-serif;
	  }
p    {color: black;
margin-left: 20%;
       margin-right: 20%;
	  font-size:200%;
	  font-family: Georgia, sans-serif;}
